* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    margin: auto;
    overflow: hidden;

}

#roof{
    width: 50px;
    height: 500px;
    background-color: blue;
    position: relative;
    left: 400px;
    animation: roof 3s infinite linear;
    

}

@keyframes roof{
    0%{left: 400px}
    100%{left: -50px}

}
#space{
width: 50px;
height: 150px;
background-color: white;
position: relative;
left: 400px;
top: -500px;
animation: roof 3s infinite linear;

}

#char{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 100px;
    border-radius: 50%;

}

footer{
    text-align: center;
    padding-top: 40px;
    
}

#ven{
    padding: 20px;
    border-radius: 20%;
}
